<a href="https://colab.research.google.com/github/Mostofa-Najmus-Sakib/Social-Media-Mining/blob/main/Assisgnment1/SMM_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1&2 Loading data and packages

In [ ]:
import networkx as nx
import pandas as pd
import io
import datetime

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving soc-sign-bitcoinotc.csv to soc-sign-bitcoinotc (3).csv

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['soc-sign-bitcoinotc.csv']), header=None)
df.head()

    0   1  2             3
0   6   2  4  1.289242e+09
1   6   5  2  1.289242e+09
2   1  15  1  1.289243e+09
3   4   3  7  1.289245e+09
4  13  16  8  1.289254e+09

In [ ]:
df.columns = ['source', 'target', 'rating','time']  #renaming the coumns
df.head()

   source  target  rating          time
0       6       2       4  1.289242e+09
1       6       5       2  1.289242e+09
2       1      15       1  1.289243e+09
3       4       3       7  1.289245e+09
4      13      16       8  1.289254e+09

In [ ]:
G = nx.from_pandas_edgelist(df, source='source', target='target', edge_attr=['rating','time'], create_using=nx.DiGraph)

# **3. Compute number of nodes, number of edges, and the percentage of negative edges.**

In [ ]:
print(nx.info(G))

Name:
Type: DiGraph
Number of nodes: 5881
Number of edges: 35592
Average in degree:   6.0520
Average out degree:   6.0520

In [ ]:
print(nx.number_of_nodes(G)) # Number of nodes

5881

In [ ]:
print(nx.number_of_edges(G)) # Number of edges

35592

In [ ]:
negative_edges = df[['rating']][df['rating'] < 0 ].count() # Number of negtaive edges
negative_edges

rating    3563
dtype: int64

In [ ]:
df['rating'].count()  # Total number of edge

35592

In [ ]:
Percentage_of_negative_weight = (negative_edges / df['rating'].count())*100
Percentage_of_negative_weight  #percentage of negative edges

rating    10.010677
dtype: float64

## **4. Compute the minimum and maximum node degree, in-degree, and out-degree**

In [ ]:
G_degree = G.degree
df_degree = pd.DataFrame(G_degree)
print(max(df_degree[1]))  #maxm node degree
print(min(df_degree[1]))  #minm node degree

1298
1

In [ ]:
G_in_degree = G.in_degree
df_in_degree = pd.DataFrame(G_in_degree)
print(max(df_in_degree[1]))  #maxm in degree
print(min(df_in_degree[1]))  #minm in degree

535
0

In [ ]:
G_out_degree = G.out_degree
df_out_degree = pd.DataFrame(G_out_degree)
print(max(df_out_degree[1]))   #maxm out degree
print(min(df_out_degree[1]))   #minm out degree

763
0

# **5. Compute the time window of network creation, i.e., the minimum and maximum edge creation timestamps.**

In [ ]:
df['int_time'] = df['time'].astype(int)  # converting date time to int values
df.head()

   source  target  rating          time    int_time
0       6       2       4  1.289242e+09  1289241911
1       6       5       2  1.289242e+09  1289241941
2       1      15       1  1.289243e+09  1289243140
3       4       3       7  1.289245e+09  1289245277
4      13      16       8  1.289254e+09  1289254254

In [ ]:
df['new_time'] = [ datetime.datetime.fromtimestamp(c).strftime('%Y-%m-%d %H:%M:%S') for c in df['int_time']]
 # converting date time int values to date time format
df

       source  target  rating          time    int_time             new_time
0           6       2       4  1.289242e+09  1289241911  2010-11-08 18:45:11
1           6       5       2  1.289242e+09  1289241941  2010-11-08 18:45:41
2           1      15       1  1.289243e+09  1289243140  2010-11-08 19:05:40
3           4       3       7  1.289245e+09  1289245277  2010-11-08 19:41:17
4          13      16       8  1.289254e+09  1289254254  2010-11-08 22:10:54
...       ...     ...     ...           ...         ...                  ...
35587    4499    1810       1  1.453612e+09  1453612481  2016-01-24 05:14:41
35588    2731    3901       5  1.453679e+09  1453679428  2016-01-24 23:50:28
35589    2731    4897       5  1.453679e+09  1453679434  2016-01-24 23:50:34
35590      13    1128       1  1.453680e+09  1453679632  2016-01-24 23:53:52
35591    1128      13       2  1.453684e+09  1453684323  2016-01-25 01:12:03

[35592 rows x 6 columns]

In [ ]:
df4 = df.groupby('source')['target', 'new_time']  # grouping by source to get the minm and maxm edge creation timestamp
df4.head(100)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

       target             new_time
0           2  2010-11-08 18:45:11
1           5  2010-11-08 18:45:41
2          15  2010-11-08 19:05:40
3           3  2010-11-08 19:41:17
4          16  2010-11-08 22:10:54
...       ...                  ...
35582    2045  2016-01-20 19:13:25
35587    1810  2016-01-24 05:14:41
35588    3901  2016-01-24 23:50:28
35589    4897  2016-01-24 23:50:34
35591      13  2016-01-25 01:12:03

[31683 rows x 2 columns]

From above result Minimum edge creation timestamp is 2010-11-08 18:45:11 and
Maximum edge creation timestamp is 2016-01-25 01:12:03

In [ ]:
timestapms = [timest for (u, v, timest) in G.edges.data('time')]
print("Starting day = {} \n End day  = {}".format(min(timestapms), max(timestapms)))
a = max(timestapms)
b = min(timestapms)
Time_difference = (a-b)/60/60/24
print ("Window of network creation in days is {}".format(Time_difference))

Starting day = 1289241911.72836
 End day  = 1453684323.75728
Window of network creation in days is 1903.2686577421316

# **6. Compute (refer to the methods)**

In [ ]:
# nx.is_connected(G)   
#connected component doesn't work for directed graph
#Lets convert the graph to undirected
H = G.to_undirected()  #converting to undirected

In [ ]:
nx.is_connected(H)  #graph is connected or not

False

In [ ]:
nx.number_strongly_connected_components(G)  #number of strongly connected components

1144

In [ ]:
nx.number_weakly_connected_components(G)   #number of weakly connected components

4

In [ ]:
max([len(c) for c in nx.weakly_connected_components(G)])

5875

In [ ]:
Gcc = [H.subgraph(c).copy() for c in nx.connected_components(H)] #

In [ ]:
nx.diameter(Gcc[0])

9